*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../imagenes/fondoop.webp);
    font-family: 'Roboto', sans-serif;
}
/* Desarrollo del Header */
header{
    padding: 10px;
    background-color: #a0d8b3d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
}
h1{
    color: forestgreen;
    font-size: xx-large;
}
.redes a{
    text-decoration: none;  
}
.redes i{
    width: 20px;
    font-size: 40px;
    margin-right: 20px;
}
.wp{
    color: #25D366;
}
.fb{
    color: #3b5998;
}

.ig{
    color: #C13584;
}
.yt{
    color: #FF0000;
}
/* Desarrollo del Nav */
nav{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

nav a{
    text-decoration: none;
    background-color: forestgreen;
    padding: 3px;
    margin: 2px;
    color: aliceblue;
    font-size: medium;
}

/* Sección 1 */
.contenedor1{
    background-color: #25D366;
}
.principal{
    text-align: center;
    padding: 10px;
}
.principal h2{
    color: forestgreen;
    text-decoration-line: underline;
    margin-bottom: 10px;
}
.principal h3{
    font-size: smaller;
}
.multimedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.multimedia img, iframe{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}




/* Sección 2 */
.contenedor2{
    background-color: #3b5998;
}

/* Footer */
footer{
    background-color: #C13584;
}
